<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> </button>
  <span>Username : {{userData?.firstName}}</span>
  <span class="example-spacer"></span>
  <span>Role: {{userData?.role}}</span>
  <button mat-raised-button color="warn" style="margin-left: 8px;"  *ngIf="userData?.role== 'Admin'" (click)="openDialog()">Add User</button>
  <button mat-raised-button color="warn" style="margin-left: 8px;" (click)="logout()">LogOut</button>

</mat-toolbar>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="srno">
      <th mat-header-cell *matHeaderCellDef>Sr. No. </th>
      <td mat-cell *matCellDef="let element let i=index" > {{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile No </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email Id </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="userData?.role== 'Admin' || (row?.id == userData?.id)" mat-raised-button color="primary"
          (click)="onEdit(row)">Edit</button>
        <button *ngIf="userData?.role== 'Admin' || (row?.id == userData?.id)" mat-raised-button color="warn"
          style="margin-left: 8px;" (click)="onDelete(row)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>