table {
    width: 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .demo-table {
    width: 100%;
  }
   
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }