<h1 mat-dialog-title>
    User Add
</h1>
<div mat-dialog-content>
<form [formGroup]="userForm">
      <mat-form-field appearance="outline">
         <mat-label>Firstname</mat-label>
         <input  formControlName="firstName" matInput placeholder="Placeholder">
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Email</mat-label>
         <input  formControlName="email" matInput placeholder="Placeholder">
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Password</mat-label>
         <input  formControlName="password" matInput placeholder="Placeholder">
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Address</mat-label>
         <input  formControlName="address" matInput placeholder="Placeholder">
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Mobile</mat-label>
         <input formControlName="mobile" matInput placeholder="Placeholder">
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Role</mat-label>
         <mat-select  formControlName="role" placeholder="Role">
             <mat-option value="Admin">Admin</mat-option>
             <mat-option value="User">User</mat-option>
         </mat-select>
       </mat-form-field>
</form>  
</div>
<div mat-dialog-action [align]="'end'">
    <button id="cancel" mat-raised-button color="warn"  (click)="closePopup()">close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUser()">{{actionBtn}}</button>
</div>